rf/target/
main.pdf
*.lein-repl-history
*.acn
*.acr
*.alg
*.aux*
*.bbl
*.blg
*.cookie
*.d
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.make
*.mtc
*.mtc0
*.nav
*.nlo
*.odt#
*.out
*.pdfsync
*.ps
*.snm
*.swp
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
